<html>
<head>
<title>Gestor de Mensajes a Pantallas LED</title>
        <body>
                <H2>Gestor de Mensajes a Pantallas LED</H2>
                Por favor, introduzca su Mensaje de Emergencia:
		<FORM name="Mensaje" method="POST">
                  
                 	<TEXTAREA rows="5" cols="30" name="txtmensaje"></TEXTAREA> <BR>
                  	Seleccione el color del Mensaje:<BR>
	                <input type="radio" name="color" value="yellow">Amarillo <br>
        	        <input type="radio" name="color" value="blue">Azul <br>
                	<input type="radio" name="color" value="red">Roja <br>
                  	<!--<INPUT type="hidden" name="identificador" value="Z87X$ -->
                  	<input type="submit" value="Enviar">   <!-- <INPUT type="reset$ -->
                  </FORM>

             <HR>

      </body>


</head>
</html>

